body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image:url("../img/home.jpg");
  background-size: cover;
}
.container1 {
  border-radius: 5px;
  background-color: #c0bebeec;
  padding: 10px 10px;
  width: 1000px;
  height: 650px;
  margin:50px auto;
  position:relative;right:-50px;top:150px
}
.pro-pic {
  width: 100%;
  padding:20px;
  height: auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #141414;
  position: relative;
  height: 620px;
}

.sidebar a {
  display: block;
  color: #4C673B;
  padding:30px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #0a3804;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(29, 92, 45);
  color: white;
}
h4{
  color:#265a07;
  text-align: center;
  }
/*Container two css*/
.container3 {
  border-radius: 5px;
  background-color: rgb(12, 12, 12);
  padding: 10px 10px;
  width: 700px;
  height: 620px;
  position:relative;right:-250px;top:-620px;
}
.regi_form{
  position:relative;top:20px;right:-50px;
  }
input[type=text],[type=date] , select, textarea{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1%;
  }
/*view and add button*/
.viewbtn{
  background-color: #8d7a34;
  color: white;
  padding: 10px;
  position:relative;right:-590px;top:8px;
}
.addbtn{
  background-color: #F4C931;
  color: white;
  padding: 10px;
  position:relative;right:-400px;top:8px;
}
/*error button*/
.alertwarning{
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  background-color: #f44336;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #A7D129;
  font-weight:700;
}
/* Style the submit and cancel button */
input[type=submit]{
  background-color: #228B22;
  color: white;
  padding:20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  width: 15%;
  position:relative;top:-60px;right:55px;
}
.doctor-grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  padding: 10px;
}
.doctor-grid-container > div {
  text-align: center;
  padding: 20px 0;
}  
.doctor-grid-container > h2 {
  text-align: center;
} 
h3,h4{
  color:#A7D129;
  text-align: center;
} 
.doctor-grid-container p{
  color:#A7D129;
  text-align: justify;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
} 
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
} 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Making the page mobile responsive*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 700px) {
  .container1 {
      width: 100%;
      height: auto;
      position: relative;
  }
}
@media screen and (max-width: 700px) {
  .container3 {
      width: 100%;
      height: auto;
      position: relative;right:0px;top:-10px
    
  }
}
@media screen and (max-width: 1000px) {
  .col-25, .col-75,.addbtn,.viewbtn,input[type=submit],input[type=text],input[type=date]{
    width: 100%;
    margin-top: 1%;
    float:left;
    position:relative;right:0px;
  }
  .regi_form {
    width: 100%;
    position:relative;right:0px;
  }
}



