.report{
    display: flex;
    gap:10px;
}
h2{
    color:white;
}

body{
    overflow-x: hidden;
}

.logo{
    width: 3.5rem;
    height: 4.5rem;
    border-radius: 100%;
  }
  
.container{
    position:relative;
    width:100%;   
}

.navigation{
    position:fixed;
    width:18.75rem;
    height:100%;
    background-color:#05445E;
    transition: 0.5s;
    overflow:hidden;
}

.navigation.active{
    width:3.75rem;
}

.navigation ul{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.navigation ul li{
    position: relative;
    width:100%;
    list-style: none;
}

.navigation ul li:hover{
    background:#189AB4 ;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px ;
}

.navigation ul li:nth-child(1):hover{
    background:transparent ;
}

.navigation ul li a{
    position: relative;
    display: block;
    width:100%;
    display: flex;
    text-decoration: none;
    color:white;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;

}

.navigation ul li a .icon .fa{
    color:white;
    font-size: 24px;

}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding:0 10px;
    height:3.75rem;
    line-height: 3.75rem;
    white-space: nowrap;
}

.main{
    position:absolute;
    width:calc(100% - 18.75rem);
    left:18.75rem;
    min-height: 100vh;
    transition: 0.5s;
}

.main.active{
    width:calc(100% - 3.75rem);
    left:3.75rem;


}

.main .topbar{
    width:100%;
    background:white;
    height:3.75rem;
    display: flex;
    justify-content: space-between;

}

.overview{
    margin-top: 5px;
    width:100%;
    height:3.75rem;
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.toggle{
    position: relative;
    width:3.75rem;
    height:3.75rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    padding:10px;
    align-self: center;
    
}

.toggle:before{
    position: absolute;
    width:100%;
    height:100%;
    line-height: 3.75px;
}

.topbar_side{
    display: flex;
}

.topbar_sideA{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.notifications{
    font-size: 20px;
    display: flex;
    gap:20px;
    color:#05445E;
    align-self: center;
    cursor: pointer;

}

.profile{
    display: flex;
    gap:10px;
    vertical-align: middle;
    padding:0 20px;
    margin-right:10px;
    cursor: pointer;

}

p{
    align-self: center;
    color:#05445E;
    
}

.profile_pic{
    border-radius: 200px;

}

.cardBox{
    position:relative;
    width:100%;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}

.cardBox .card{
    position: relative;
    background-color: white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 8px 8px 5px #d3d2d2d0;

}

.cardBox .card:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(1.05);
}
.cardBox .card .numbers{
    position: relative;
    font-size:32px ;
    font-weight:500;
    color:#05445E;
    display: flex;
    vertical-align: middle;
    gap:2px;
}

h6{
    font-size: 8px;
    font-weight: lighter;
    color:#0f0f0f;
}

.cardBox .card .cardName{
    color:#999;
}

.u-btns{
background-color:white;
  border: none;
  color: #05445E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cardBox .card .iconBox{
    font-size: 2.5em;
    color:#189AB4;
}

.details{
    position:relative;
    width:100%;
    padding:20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
}

.details .salesReport{
    position:relative;

}

.details .upcomingChanneling{
    display: grid;
    min-height: 530px;
    background-color:#49a0c5d3;
    padding:20px;
    border-radius: 10px;


}

.detailsA .upcomingChanneling{
    overflow-x:auto;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.cardHeader h2{
    font-weight: 600;
}

.btn{
    position: relative;
    padding:5px 10px;
    background: #75E6DA;

    color:#0a0a0a;
    text-decoration: none;
    border-radius: 6px;

}

.btn:hover{
    background: #3fe9d8;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.01);

}

.details table{
    width:100%;
    border-collapse:collapse ;
}

.details table thead td{
    font-weight: 600;
}

.details .upcomingChanneling table tr{
    border-bottom: 1px solid black ;
}

.details .upcomingChanneling table tbody tr:last-child{
    border-bottom: none;
}

.details .upcomingChanneling table tbody tr:hover{
    background:#96e5ee;
}


.details .upcomingChanneling table tr td{
    padding:9px 5px;
}

.details .upcomingChanneling table tr td:last-child{
    text-align: right;
}

.details .upcomingChanneling table tbody tr td:last-child,
.details .upcomingChanneling table thead tr td:last-child{

    text-align: right;
}

.details .upcomingChanneling table tbody tr td:nth-child(2),
.details .upcomingChanneling table thead tr td:nth-child(2){

    text-align: center;
    padding-right: 20px;
}

.viewMore{
    position: relative;
    padding:5px 10px;
    background:#D4F1F4;
    color:#05445E;
    text-decoration: none;
    border-radius: 6px;
    border:1px solid #75E6DA;
}

.viewMore:hover{
    background:white;
}

.details .salesReport{
    min-height: 530px;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-radius: 10px;
}

.detailsBottom{
    position:relative;
    width:100%;
    padding:20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.detailsBottom .newProducts{
    display: grid;
    min-height: 530px;
    background-color: rgba(255, 255, 255, 0.61);
    padding:20px;
    border-radius: 10px;

}

.newProducts:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.02);
    margin-top: 20px;

}
.detailsBottom table{
    width:100%;
    border-collapse:collapse ;
}

.detailsBottom table thead td{
    font-weight: 600;
}

.detailsBottom .newProducts table thead tr{
    border-bottom: 2px solid black ;
}

.detailsBottom .newProducts table tbody tr{
}

.detailsBottom .newProducts table tbody tr:last-child{
    border-bottom: none;
}

.detailsBottom .newProducts table tbody tr:hover{
    background:#96e5ee;
}

.detailsBottom .newProducts table tr td{
    padding:9px 5px;
}

.detailsBottom .activeUsers{
    min-height: 530px;
    background-color: rgba(255, 255, 255, 0.61);
    padding:20px;
    border-radius: 10px;

}

.detailsBottom .activeUsers .icon{
    color:#05445E;
    font-size: 30px;

}

.detailsBottom .popularForums{
    min-height: 530px;
    background-color: rgba(255, 255, 255, 0.61);
    padding:20px;
    border-radius: 10px;

}

.forum{
    width:100%;
    border-radius: 10px;

}

.popularForums:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.02);
    margin-top: 20px;

}

.user{
    margin-top:10px;
    width:100%;
    border-radius: 10px;


}

.activeUsers:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.02);
    margin-top: 20px;

}

.sales{
    width:100%;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
} 

.sales:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.03);

}

/*detailsA*/

.detailsA .upcomingChanneling{
    display: grid;
    padding:20px;
    border-radius: 10px;
    background-color:#75cfe6;
    width:90%;
    margin:auto;
    margin-top: 20px;
    margin-bottom:20px;

  
  }
  .detailsA table{
    width:100%;
    border-collapse:collapse ;
  }
  
  .detailsA table thead td{
    font-weight: 600;
  }
  
  .detailsA .upcomingChanneling table tr{
    border-bottom: 1px solid black ;
  }
  
  .detailsA .upcomingChanneling table tbody tr:last-child{
    border-bottom: none;
  }
  
  .detailsA .upcomingChanneling table tbody tr:hover{
    background:#96e5ee;
  }
  
  
  .detailsA .upcomingChanneling table tr td{
    padding:9px 5px;
  }
  
  
  
  .detailsA .upcomingChanneling table tbody tr td,
  .detailsA .upcomingChanneling table thead tr td{
  
    text-align: center;
    padding-right: 20px;
  }

  /*users*/
  .user_buttons{
      display: flex;
      gap:15px;
      font-size: 20px;
  }

  .user_edit{
      color:green;
  }
  .user_delete{
      color:red;
  }
  a{
    text-decoration: none !important;
    color: inherit;
   }

   a:hover{
       color:white;
   }

@media (max-width:1200px){
   
    .navigation{
        left:-18.75em;
    }

    .navigation.active{
        left:0;
        width:18.75em;
    }
    
    .main{
        width:100%;
        left:0;
    }

    .main.active{
        width: calc(100% - 18.75em);
        left:18.75em;
    }

    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }

    .details{
        grid-template-columns: 3fr 1fr;
        gap:10px;
    }
}

@media (max-width:768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }

    .detailsBottom{
        grid-template-columns: repeat(1,1fr);
    }

    .details .upcomingChanneling{
        overflow-x:auto;
    }

    .details .upcomingChanneling table{
        width:100%;
    }

    .detailsA .upcomingChanneling{
        overflow-x:auto;
    }

    .detailsA .upcomingChanneling table{
        width:100%;
    }
}

@media (max-width:600px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }


    .navigation{
        width: 100%;
        left:-100%;
        z-index: 1000;
    }

    .navigation.active{
        width:100%;
        left:0;
    }

    .toggle.active{
        z-index: 1000;
        right: 0;
        left:initial;
        position: fixed;
        color:white;
    }

    .main,.main.active{
        width:100%;
        left:0;
    }
    

}
