*{
    padding: 0;
	  margin: 0;
		box-sizing: border-box;
}
.a-body{
  background-color: #D4F1F4;
    background-size: 100% 100%;
}

#fixing p{
  font-size: 1rem;
}

#fixing{
  min-height: 108vh;
}
@media screen and (max-width: 900px) {
  #fixing p{
    font-size: 0.6rem;
  }
  
  #fixing{
    min-height: 30vh;
  }
}


.main-container{
  margin: auto;
  margin-top: 3%;
}

.alertwarning{
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
#A_closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  background-color: #f44336;
  transition: 0.3s;
}
/*-----------------------------------------------------------------------------------------*/
/*access buttons*/
.access-buttons{
  position: relative;
  display: flex;
  float: right;
  cursor: pointer;
  margin: 1rem;
  align-items: center;

}
.access-buttons button{
  border: none;
  outline: 0;
  padding: 12px;
  margin: 0.8rem;
  color: #05445E;
  background-color: #75E6DA;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #D4F1F4;
}
.access-buttons a{
  margin: 1rem;
  cursor: pointer;
}
.access-buttons button:hover {
  border: 2px solid #05445E;
}
/*-----------------------------------------------------------------------------------------*/
/*carousel*/
.carousel{
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 0;
    height: auto;
}

.A-view{
    background-color:#07616b;
    width: 98%;
		margin: auto;
		display: flex;
		align-items: center;
		overflow-x: auto;
    margin-top: 2%;
    margin-bottom: 6%;
    padding: 1rem;
}
.A-view::-webkit-scrollbar{
  display: none;
}

.article-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    min-width: 24%;
    max-width: 100%;
    margin: 0.5rem 1rem 0 0 ;
    text-align: center;
    font-family: arial;
    background-color: #D4F1F4;
    vertical-align: middle;
    height: 100%;
    /* max-height: 100vh;
    min-height: 100vh; */
    border-radius: 0.3rem;
		position: relative;
		left: 0;
		transition: 0.5s;
    margin-bottom: 1rem;
    color: #1894B4;
    border-radius: 10px;
    border:3px solid #189AB4;
    transition: transform .2s; /* Animation */
  }
  .article-card:hover{
    transform: scale(1.05);
  }

  .article-card p{
    text-align: center;
    margin: 0.5rem;
    margin-top: 0;
    color: #189AB4;
  }
  .article-card picture{
    width: 100%;
    height: 25rem;
    padding: 20px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .article-card picture img{
    width: 100%;
  }
  .article-card h1{
      color: #05445E;
      font-size: 2rem;
      margin-top:0.6rem ;  
  } 

  .article-card  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #05445E;
    background-color: #75E6DA;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    margin: 4% 0;
  }

  
  .article-card  button:hover {
    opacity: 0.9;
  }
/*-------------------------------------------*/
/*slide show*/
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
  }
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* On smaller screens, decrease text size */
@media (max-width: 1200px) {
    .prev, .next,.text {
      font-size: 11px
    }
    section{
      margin-top: 15%;
      margin-bottom: 5rem;
    }
    .prev,.next{
      top: 80%;
    }
    .article-card picture{
      height: 25rem;
      margin-bottom: 0;
    }
    .carousel{
      margin-bottom: 0;
      margin-top: 12rem;
    }
    .article-card h1{
      font-size: 20px;
    }
    p{
      font-size: 10px;
    }
    .article-card{
      min-width: 49%;
      height: 100%;
      margin: 0 10px 0 0 ;
    }
    .article-card button{
      font-size: 10px;
      padding: 5%;
      margin: 2% auto;
    }
  }

  @media (max-width: 768px) {
    .article-card picture{
      height: 8rem;
      margin-bottom: 0;
      padding: 4px;
    }
    .article-card h1{
      font-size: 1rem;
    }

    .prev,.next{
      top: 60%;
    }
  }
/*--------------------------------------------------------------------------------------*/
/*article details*/
.article{
  display: -webkit-flex;
  display: flex;
  background-color: #e3f5f8;;
  margin-top: 5%;
  margin-bottom: 8%;
  transition: 1s ;
}
.Mbtns{
  position: relative;
  bottom: 0;
  right: 0;

}
.article-details{
  display: flex;
  flex-direction:column;
  width: 100%;
}
.editbtn,.deletebtn{
  margin: 1rem;
}
.deletebtn button{
  background-color: #D4F1F4;
  border: 2px solid #05445E;
}
.Mbtns button:hover{
  background-color: #05445E;
  color: #1894B4;
}
.a-image{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px;
  margin: auto;
  width: 100%;
}
.a-image img{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  width: 100%;
  transition: 0.3s ;
}
.a-image h3{
  color: #05445E;
  text-align: center;
}
.details{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  margin: 1rem;
}

.filterDiv{
  float: left;
  color: #1894B4;
  font-weight: 600;
  text-align: center;
  margin: 2px;
  margin-top: 1rem;
  display: none;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  color: #1894B4;
  background-color: #f1f1f1;
  border: 3px solid #05445E;
  cursor: pointer;
  margin: 0.3rem;
  border-radius: 8px;
}

.show {
  display: block;
}

.btn:hover {
  background-color: #75E6DA;
  color: #05445E;
}

.btn.active {
  background-color: #75E6DA;
  color: #05445E;
  font-weight: bold;
}

.back {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 20px;
  cursor: pointer;
  color: #1894B4;
  background-color: #f1f1f1;
  border: 3px solid #05445E;
  transition: 0.3s;
  top: 0;
  margin-top: 0;
}
.back a{
  font-style:none;
}
.back:hover {
  background-color: #75E6DA;
  color: #05445E;
}

@media (max-width: 768px) {
  .article {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 50%;
  }
}
  @media (max-width: 1200px) {
    .article {
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 50%;
    }
}

/*--------------------------------------------------------------------------------------*/
/*manage articles*/
.m-articles{
  background:#1894B4;
  margin: 5% auto;
  padding: 10px;
}

.tabcontent{
  color:#75E6DA;
  font-weight: bold;
  font-size: 1.5rem;
}

.articles-row{
  padding: 10px;
  transition: 0.4s;
}

.articles-row:hover{
  background: #05445E;
}

.a-hr{
  border: 1px solid #D4F1F4;
  width: 90%;
  margin: auto;
}
.A-btns{
  right: 0;
}
.tablinks{
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #D4F1F4;
  color: #05445E;
  cursor: pointer;
  margin: 0.3rem;
}
.myBtnContainer button:hover{
  background-color: #75E6DA;
  color: #05445E;
}

.myBtnContainer button.active{
  font-weight: bold;
  background-color: #75E6DA;
  color: #05445E;
}

@media (max-width: 768px) {
  .m-articles{
    margin-top: 50%;
  }
}

.addArticles{
  width: 100%;
  margin-top: 1rem;
}
/* ---------------------------------------------------------------*/
/* Add styles to the form container */
.form-container {
  width: 97.5%;
  padding: 1rem;
  padding-bottom: 1rem;
  background-color: #e3f5f8;
  position: relative;
  color:#1894B4;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
}
.form-container form{
  padding-bottom: 1rem;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #c9c9c9;
}
.form-container textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #c9c9c9;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #045235;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  input[type=submit],input[type=reset],input[type=file]   {
    background-color: #75E6DA;
    color: #05445E;
    padding:20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 10%;
  }
  
  input[type=reset],input[type=submit]{
    width:100px;
    height:40px;
    font-size: 18px;
    border-radius: 100px;
    padding-block: 2px;
}
  input[type=reset] {
    margin-right: 1%;
    border: 2px solid #05445E;   
  }

  input[type=file] {
    float: left;
    margin-right: 1%;
    width: 30%;
    padding:10px;
  }

  input[type=submit]:hover,input[type=file]:hover{
    background-color: #05445E;
    color: #75E6DA;
  }
  input[type=reset]:hover {
    margin-right: 1%;
    border: 2px solid #05445E;
    background-color: #D4F1F4;   
  }

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 768px) {
    .col-25, .col-75, input[type=submit],input[type=reset],input[type=file]{
      width: 100%;
      margin-top: 1%;
      float:left
    }
    .form-container {
      width: 95%;
    }
  }

/*my articles*/
.myArticles{
  width: 100%;
}

.articles-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
}
.articles-row .image{
  max-width: 20rem;
  width: 15rem;
  flex: 20%;
}
.articles-row .image img{
  width: 8rem;
}
.articles-row .article-name{
  text-align: center;
  align-items: center;
  flex: 50%;
  padding: 2rem;
}
.articles-row .viewbtn{
  flex: 20%;
  padding: 1rem;
  width:100%;
}

.viewbtn{
  float: right;
  width:80%;
}

.A-btn{
  background-color: #D4F1F4;
  color: #05445E;
  border: 2px solid #75E6DA;
  padding:20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
}
.A-btn:hover{
  background-color: #75E6DA;
  color:#05445E;
}

.articles-row .image img{
  height: 8.5rem;
}
@media (max-width: 768px) {
  .articles-row {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------------------------*/
/*articles section*/
.articles-section{
  background-color: #D4F1F4;
  display: flex;
  flex-wrap: wrap;
  gap: 2% 1%;/*rows and colums*/
  margin-bottom: 15%;
}

.detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 22rem;
  height: 42rem;
  margin: 0.5rem 1rem 0 0 ;
  text-align: center;
  font-family: arial;
  background-color: #D4F1F4;
  vertical-align: middle;
  /* max-height: 100vh;
  min-height: 100vh; */
  border-radius: 0.3rem;
  transition: 0.5s;
  margin-bottom: 1rem;
  color: #1894B4;
  border-radius: 10px;
  border:3px solid #189AB4;
  transition: transform .2s; /* Animation */
}
.detail-card:hover{
  transform: scale(1.05);
}

.detail-card p{
  text-align: center;
  margin: 0.5rem;
  margin-top: 0;
  color: #189AB4;
}
.detail-card picture{
  width: 100%;
  height: 25rem;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
.detail-card picture img{
  width: 100%;
}
.detail-card h1{
    color: #05445E;
    font-size: 2rem;
    margin-top:0.6rem ;  
} 

.detail-card  button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #05445E;
  background-color: #75E6DA;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  margin: 4% 0;
}

.detail-card  button:hover {
  opacity: 0.9;
}
/* On smaller screens, decrease text size */
@media (max-width: 1200px) {
.detail-card picture{
    height: 25rem;
    margin-bottom: 0;
  }
  .detail-card h1{
    font-size: 20px;
  }
  .detail-card{
    min-width: 49%;
    height: 100%;
    margin: 0 10px 0 0 ;
  }
  .detail-card button{
    font-size: 10px;
    padding: 5%;
    margin: 2% auto;
  }
}

@media (max-width: 768px) {
  .detail-card picture{
    height: 8rem;
    margin-bottom: 0;
    padding: 4px;
  }
  .detail-card h1{
    font-size: 1rem;
  }
}
.articles-section1 .article-card{

}
/*---------------------------------------------------------------------------*/

/*for the cards*/
/* Float four columns side by side */
.cardcolumn {
  float: left;
  width: 25%;
  padding: 0 4px;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding in columns */
.cardrow {
  margin: 0 auto;
  width: 95%;
}

/* Clear floats after the columns */
.cardrow:after {
  content: "";
  display: table;
  clear: both;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .articles-section{
    grid-template-columns: auto auto;
  }
  .a-s{
    margin-bottom: 60%;
  }
  .cardcolumn{
    width: 50%;
    padding: 2px;
  }

  .cardrow {
    margin: 0 auto;
    width: 90%;
  }
}

/*---------------for article reviews-----------*/
/*for review*/
.Reviews{
  width: 100%;
  max-height: 50rem;

}
.reviews1{
  width: 100%;
  max-height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}
.r-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  float: left;
}
.r-container::after {
  content: "";
  clear: both;
  display: table;
}

.r-container .o-name {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.r-container .o-name.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
.dark {
  border-color: #ccc;
  background-color: #ddd;
  float: right;
}
.r-form{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.8rem;
}
.review-t1{
  flex: 75%;
  padding: 0.8rem;
  width: 70%;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.submit-r{
  flex: 25%;
  padding: 0.8rem;
  width: 20%;
  background-color:#75E6DA;
  border: 2px solid #05445E;
  border-radius: 0.5rem;
  color:#05445E;
  font-size: 1rem;
}
.submit-r:hover{
  background-color: #05445E;
  color: #1894B4;
}
