.mg1-top{
    margin-top: 2rem;
}
.mg1-bottom{
    margin-bottom: 2rem;
}
.mg1-left{
    margin-left: 2rem;
}
.mg1-right{
    margin-right: 2rem;
}
.mg1{
    margin: 2rem;
}
.mg2{
    margin:0.6rem
}

.p1{
    padding: 0.6rem;
  }
  .p2{
    padding: 0.4rem;
  }

.col-1{
      width: 8.33%;
    }
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

.txt-col1{
    color:#F4C931;
}
.txt-col2{
    color:  #4C673B;
}
.txt-col3{
    color: crimson;
}
.bg-col1{
    background-color:#F4C931 ;
}
.bg-col2{
    background-color:#4C673B ;
}
.bg-col3{
    background-color:crimson ;
}
.bg-col4{
    background-color:green ;
}

.btn1{
    background-color: green;
    width: 30%;
    border-style: none;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

/*theme colors*/
.t-color-1{
    color:#D4F1F4;
}

.t-color-2{
    color:#75E6DA;
}

.t-color-2{
    color:#1894B4;
}

.t-color-4{
    color:#05445E;
}

