* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top_nav{
    padding: 3% 3%;
    justify-content: space-between;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    position:absolute;

    width: 100%;
    height: 100px;
    top:10%;
    align-items: center;
    gap:5px;
}

.nav_item1{
    height:90px;
    width:70px;
    align-items: center;
}

.logo{
    height:100%;
    width:100%;
}

.a_navitem2{
    text-decoration-line:none;
    color:white;
    font-family: 'Source Serif Pro', serif;    
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.a_navitem2:hover{
    color:#547925;
}

.nav_item2{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.v {
    border-left: 2px solid rgb(235, 235, 235);
    height: 30px;
    align-content: center;
  }

.nav_item3{
    display: flex;
    gap:10px;
    height: 100%;
    align-items: center;
  }
  
.a_navitem3{
    font-size: 16px;
    color: #FDDA0D;
    text-decoration-line: none;
    font-family: 'Source Serif Pro', serif;
  }
  
#login_logo{
    color: #FDDA0D;
    font-size: 1.8rem;
  }

  .bg_image_container{
    width:100%;
    height:100vh;
  
  }
  
  .bg_image{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  /*----------------------*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #547925;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #FDDA0D;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .top_nav .icon {
    display: none;
    color: #FDDA0D;
  }

/*for medium devices*/
/*@media (min-width:768px){
  .top_nav{
    height: 80px;
}
}

/*for laptop devices*/
/*@media (min-width:992px){
  .top_nav{
    height: 80px;
}
}

/*for large devices*/
/*@media (min-width:1200px){

}*/
@media(max-width:767px){
  .top_nav a:not(:first-child) {display: none;}
  .top_nav a.icon {
    float: right;
    display: block;
  }
}
@media(max-width:767px){
  .top_nav.responsive {position: relative;}
  .top_nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top_nav.responsive .a_navitem2{
    float: none;
    display: block;
    text-align: left;
  }
  .v{
    display: none;
  }
}
   