*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    background-size:50%;
}
h2{
    font-size: 4em;
    color:#05445E;
    text-align:center;
}
.Login-form{
    background-image: url("../img/qq.jpg");
    min-height:100vh;
    z-index:0;
    padding:40px;
    display:grid;
    justify-content: center;
    grid-template-rows: 1fr auto 1fr;
    align-items:center;
}
.container{
   margin:0 auto;
    max-width:800px;
}

.Login-form .main{
    position:relative;
    display:flex;
    margin:30px 0;
}
.content{
    flex-basis:50%;
    padding:2em 2em;
    background:#D4F1F4;
    box-shadow:2px 9px 49px -17p;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.form-img{
    flex-basis:50%;
    background:#D4F1F4;
    background-size:cover;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    align-items:center;
    display:grid;

}
.form-img img{
    max-width:100%;
}
.account{
    color:rgb(10, 10, 10);
    font-size:18px;
    line-height:15px;
    opacity:1;
    text-align:center;
}

a:visited{
    text-decoration:none;
    color:#05445E;
}
.Login-form form{
    margin:30px 0;
}
.Login-form input{
    outline:none;
    margin-bottom:15px;
    font-stretch:16px;
    text-align:left;
    padding:14px 20px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    background:#05435e44;
    border: 2px solid #05445E;
    transition:0.3s ease;
    border-radius:50px;
}
.Login-form input:focus{
    background:#D4F1F4;
    border:solid #ffff;
}
.btn{
    font-size:18px;
    color:#05445E;
    font-weight: bold;
    width:100%;
    background-color:#75E6DA;
    border-radius:50px;
    padding:14px 15px;
    transition:0.3s ease;
}
.btn:hover{
    background-color: white;
    transition:0.5s ease;
}

.alertwarning{
    padding: 20px;
    background-color:#05445E;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
    background-color: #05445E;
    transition: 0.3s;
    width:25%;
  }
  
  .closebtn:hover {
    color: white;
  }
  
  .backbtn{
    background-color: #D4F1F4;
    color: #05445E;
    font-weight: bolder;
    font-size: 22px;
    position:relative;right:-350px;top:-10px;
    padding:5px 12px;
    width:50px;
    border-top-right-radius:8px;
  }
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 736px) {
    .Login-form .main{
      flex-direction: column;
    }
    .form-img, .form-img{
       display:none;
    }
    .content{
        padding:3em 2em;
        border-radius:0;
        border-radius: 8px;
      

    }
  }

