body{
  background: url("../img/Environment-earth_crop.jpg");
  background-size: cover;
}

.profile{
  background-color: rgba(13, 13, 13, 0.8);
  width: 100%;
  color: white;
  position: relative;
  margin-top: 15rem;
  height: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pro-img1{
  width: 20%;
}
.main-profile{
  background-color: rgba(13, 13, 13, 0.8);
  width: 100%;
  padding: 0.5rem;
}
.pro-img{
  width: 80%;
  border-radius: 100%;
  margin: auto;
  align-self: center;
  margin-left: 10%;
  margin-top: 10%;
}
.left{
  float: left;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.right{
  float: left;
  width: 75%;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float:left;
  width: 50%;
  margin-top: 6px;
}
.m-btns{
  width: 100%;
  float: right;
}
.editbtn,.deletebtn{
  cursor: pointer;
  opacity: 0.9;
  padding: 0.6rem;
  width: 15%;
  float: right;
  margin: 0.2rem;
  border-radius: 0.3rem;
  border-style: none;
}
.editbtn:hover,.deletebtn:hover{
  opacity: 1;
  color: whitesmoke;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 600px){
  .col-25,.col-50{
    width: 100%;
  }
  .right,.left{
    width: 100%;
  }
  .pro-img{
    width: 50%;
    margin: auto 25%;
    position: relative;
  }
  .editbtn,.deletebtn{
    font-size: 10px;
    text-align:center;
    padding: 5px;
  }
}

/*------------------------------------------------------------*/
/* Float cancel and delete buttons and add an equal width */
.cancelbtn-d, .deletebtn-d {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn-d {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn-d {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container-d {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal-d {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content-d {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close-d {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close-d:hover,
.close-d:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix-d::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn-d, .deletebtn-d {
     width: 100%;
  }
}