body{
  background: url("../img/Environment-earth_crop.jpg");
  background-size: cover;
}

.profile{
  background-color: rgba(13, 13, 13, 0.8);
  width: 100%;
  color: white;
  position: relative;
  margin-top: 15rem;
  height: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pro-img1{
  width: 20%;
}
.main-profile{
  background-color: rgba(13, 13, 13, 0.8);
  width: 100%;
  padding: 0.5rem;
}
.pro-img{
  width: 80%;
  border-radius: 100%;
  margin: auto;
  align-self: center;
  margin-left: 10%;
  margin-top: 10%;
}
.left{
  float: left;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.right{
  float: left;
  width: 75%;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float:left;
  width: 50%;
  margin-top: 6px;
}
.m-btns{
  width: 100%;
  float: right;
}
.editbtn,.deletebtn{
  cursor: pointer;
  opacity: 0.9;
  padding: 0.6rem;
  width: 15%;
  float: right;
  margin: 0.2rem;
  border-radius: 0.3rem;
  border-style: none;
}
.editbtn:hover,.deletebtn:hover{
  opacity: 1;
  color: whitesmoke;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 600px){
  .col-25,.col-50{
    width: 100%;
  }
  .right,.left{
    width: 100%;
  }
  .pro-img{
    width: 50%;
    margin: auto 25%;
    position: relative;
  }
  .editbtn,.deletebtn{
    font-size: 10px;
    text-align:center;
    padding: 5px;
  }
}