.payform{
    background: #e3f5f8;
    color: #1894B4;
    width:60%;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid #05445E;
    border-radius: 1rem;
}

.topics{
    text-align: center;
    margin: 2px auto;
}

.row{
    width: 100%;
    margin: 1rem auto;
    align-items: center;
}
.p-details{
    margin: 1rem auto;
}
.p-inputs{
    align-items: center;
    margin: 4px auto;
    margin-left: 15%;
}

.p-inputs input{
    width: 40%;
}
.payform .btn{
    margin-left: 35%;
    margin-bottom: 1rem;
    opacity: 0.8;
    color: #05445E;
}
.payform .btn:hover{
    opacity: 1;
    color: white;
}

input[type=text]{
    padding: 0.4rem;
    border-style: none;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}

.h2p{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .payform{
        margin-bottom: 15%;
    }
    .row{
        margin-left: 5%;
        font-size: 10px;
    }
    input[type=text]{
        width: 40%;
        font-size: 10px;
    }
    .p-inputs{
        align-items: center;
        margin: 4px auto;
        margin-left: 10%;
    }
    .payform .btn{
        width: 50%;
        margin-left: 25%;
    }
}
/* ------------for the payment fetails btn------------------- */
.detailsbtn1{
    background-color: #75E6DA;
    border: none;
    color: #05445E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .detailsbtn1:hover{
    background-color: #05445E;
    color: #75E6DA;
  }
  @media screen and (max-width:1000px) {
    .detailsbtn1{
      padding: 4px 6px;
      font-size: 10px;
      margin: 4px 2px;
    }
  }