body {
  margin: 0;
  padding:0;
 overflow: auto;

  font-family: "Lato", sans-serif;
  background-color: #D4F1F4;

}
.prescription{
  width: 80px;
  height: 80px;
}   
label{
  padding: 1px 1px 12px 0;
  display: inline-block;
  color: #05445E;
  font-weight:12px;
  
}

  .container{
    border-radius: 5px;
   background-color: #1fadbd;
    padding: 10px 10px;
    width: 80%;
    height: auto;
    margin-left: 20%;
  }
  h1{
    color:#05445E;
    text-align: center;
  }
  /*Creating two colums*/
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding:  15px;
    height: auto;
    width:500px;
    background-color:#f1f1f1;
  }
  h2{
    color:#05445E;
    margin-left:10%;
  }
  .backbtn{
    background-color: #75E6DA;
    border-color: #05445E;
    cursor: pointer;
    color:#05445E;
    font-weight: bold;
    padding: 10px;
    border-radius: 25%;

  }
  .pdf{
    background-color: #dd240b9c;
    color:#ffff;
    padding: 10px;
    float: left;

  }
  h3{
    margin-top: 10px;
    color:#818181;
  }
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top:20px;
  position:relative;right:-50px;

} 
  
  /* Floating column for inputs: 75% width */
  .col-75 {
  float: left;
  width: 75%;
  margin-top: 15px;
  position:relative;right:-100px;
  }
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  /*Making the page mobile responsive*/

@media screen and (max-width: 1000px) {
  input[type=date]{
    width: 100%;
    margin-top: 1%;
    float:left;;
    position:relative;right:0px;
  }
  .backbtn{
    width:20%;
  }
}
@media screen and (max-width: 700px) {
  .container {
      width: 75%;
      height: auto;
      margin-top: 10%;
      margin-left:0%;
  }
  .col-75{
    margin-left: 0%;
  }
}
@media screen and (max-width: 700px) {
  .regi_form {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .row{
    width: 100%;
  }
  .column{
width:30%;
  }
}
@media screen and (max-width: 700px) {
  h3,label{
  font-size: 12px;
  }
  h2{
    font-size: 15px;
    margin-left: 0%;
  }
  h1{
    font-size: 15px;
  }
}




  