body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image:url("../img/home.jpg");
  background-size: cover;
}
.container1 {
  border-radius: 5px;
  background-color: #c0bebeec;
  padding: 10px 10px;
  width: 1000px;
  height: 650px;
  margin:50px auto;
  position:relative;right:-50px;top:150px
}
.pro-pic {
  width: 100%;
  padding:20px;
  height: auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #141414;
  position: relative;
  height: 620px;
}

.sidebar a {
  display: block;
  color: #4C673B;
  padding:30px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #0a3804;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(29, 92, 45);
  color: white;
}
h4{
  color:#265a07;
  text-align: center;
  }
/*Container two css*/
.container3 {
  border-radius: 5px;
  background-color: rgb(12, 12, 12);
  padding: 10px 10px;
  width: 700px;
  height: 620px;
  position:relative;right:-250px;top:-620px;
} 
.prescription{
  width: 80px;
  height: 80px;
}   
input[type=date]{
    background-color: #F4C931;
    padding: 10px;
    position:relative;right:0px;top:5px;
   margin-bottom: 15px;
}
label{
    color:rgb(173, 173, 173);
}
.report-container {
    display: grid;
    padding-top: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px 30px;
    grid-gap: 5px;
    background-color: #aeaeb1;
    padding: 5px;
}
.report-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 5;
    font-size: 15px;
  }
  .cardbutton{
    background-color: #014d08;
    text-align: center;
    border-radius: 25%;
    color:#ffff;
    cursor: pointer;
    font-size: 15px;
    padding:5px;
    font-weight: bolder;
    position:relative;right:-12px;
}
.header {
  height:600px;
  width:730px;
  border:solid 3px rgb(26, 85, 3);
  overflow:scroll;
  overflow-x:scroll;
  overflow-y:scroll;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(10, 10, 10);
  position:relative;top:0px;
}
  .container{
    border-radius: 5px;
    background-color: #0a0a0acc;
    padding: 10px 10px;
    width: 1000px;
    height: 700px;
    margin:50px;
    position:relative;left:170px;

  }
  h1{
    color:#049b13;
    text-align: center;
  }
  /*Creating two colums*/
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 10px;
    height: 680px; 
    width:500px;
    background-color:#0a0a0acc;
  }
  h2{
    color:#f3ef04;
    text-align: center;
  }
  .backbtn{
    background-color: #dd240b;
    cursor: pointer;
    color:#ffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 25%;
    position:relative;right:-350px;top:15px;
  }
  .pdf{
    background-color: #dd240b;
    color:#ffff;
    padding: 10px;
    position:relative;right:-290px;top:75px;
  }
  h3{
    margin-top: 10px;
    color:#ffff;
  }
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 30px;
  position:relative;right:-50px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
  float: left;
  width: 75%;
  margin-top: 15px;
  position:relative;right:-100px;
  }
  
  /*Making the page mobile responsive*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 700px) {
  .container1 {
      width: 100%;
      height: auto;
      position: relative;
  }
}
@media screen and (max-width: 700px) {
  .container3 {
      width: 100%;
      height: auto;
      position: relative;right:0px;top:-10px
    
  }
}
@media screen and (max-width: 1000px) {
  .cardbutton,input[type=date]{
    width: 100%;
    margin-top: 1%;
    float:left;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 1000px) {
  .report-container{
    width: 150%;
    margin-top: 1%;
    float:left;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 700px) {
  .report-container div{
    width: 100%;
    margin-top: 1%;
    float:left;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 700px) {
  .cardbutton{
    font-size: 10px;
    padding:2px;
  }
}
@media screen and (max-width: 1000px) {
  .col-25, .col-75,.backbtn,input[type=date]{
    width: 100%;
    margin-top: 1%;
    float:left;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 700px) {
  .container {
      width: 100%;
      height: auto;
      position: relative;right:0px;top:-10px
    
  }
}
@media screen and (max-width: 700px) {
  .regi_form {
    width: 100%;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 700px) {
  .row,.column{
    width: 100%;
    position:relative;right:0px;
  }
}
@media screen and (max-width: 700px) {
  h3{
  font-size: 12px;
  }
}




  