* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

/*----------------------------------------------------------*/
/*top part*/
.upperpart {
  /* Set a specific height */
  min-height: 80vh;
  top: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/Ayur_1.jpg");
  }

  @media only screen and (max-device-width: 900px) {
    .upperpart {
      background-attachment: scroll;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 30%);
    margin-bottom: 1rem;
  }

  .btn-group button {
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    color: white; /* White text */
    padding: 10px 24px; /* padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 7%;
    font-size: 2vw;
  }
  
  /* Clear floats*/
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #636363;
  }
/*--------------------------------------------------------------------------*/
  .up-form label{
      color: blanchedalmond;
  }

  .up-form{
    color: rgb(24, 121, 56);
    text-align: center;
    background-color: cadetblue;
}

/*-----------------------------------------------------------------------------*/
/*for hr and h2*/
hr{
  border: 2px solid #A7D129;
}

h2{
  color: #A7D129;
}

/*----------------------------------------------------------*/
/*for error popup*/
.alertwarning{
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  background-color: #f44336;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*-----------------------------------------------------------------------------*/
/*for the registration form*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 1%;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #A7D129;
}

/* Style the submit and cancel button */

input[type=submit],input[type=reset],input[type=file]   {
  background-color: #04AA6D;
  color: white;
  padding:20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 10%;
}

input[type=reset] {
  background-color: crimson;
  margin-right: 1%;
}

input[type=file] {
  float: left;
  margin-right: 1%;
  width: 30%;
  padding:10px;
}

/* ------------------------------------------------------------------------------------ */
/* Style the container */
.container {
  top: 20%;
  border-radius: 5px;
  padding: 20px;
  background-color:#1894B4;
  z-index: 8;
  width: 80%;
  transition: 0.3s;
}
.container h2{
  color: #75E6DA;
  text-align: center;
}
.container h3,h4, p{
  color: #05445E;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  justify-content: center;
  text-align: center;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit],input[type=reset],input[type=file]{
    width: 100%;
    margin-top: 1%;
    float:left
  }
  .container{
    margin-bottom: 1rem;
  }
}
/*---------------------------------------------------------------------------*/
/*proct section*/
.products-section{
  background-color: #D4F1F4;
}

/*---------------------------------------------------------------------------*/

/*for the cards*/
/* Float four columns side by side */
.cardcolumn {
  float: left;
  width: 33%;
  padding: 0 10px;
  justify-content: center;
}
.div{
  margin: auto;
}
/* Remove extra left and right margins, due to padding in columns */
.cardrow {
  margin: 0 auto;
  width: 60%;
}

/* Clear floats after the columns */
.cardrow:after {
  content: "";
  display: table;
  clear: both;
  justify-content: center;
}

/* Style the counter cards */
.card {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-image: linear-gradient(to right, #1894B4 , #05445E);
  height: auto;
  margin: 0.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.2rem;
}

.card-content h3{
  color:#75E6DA;
}

.card-content p{
  color:#75E6DA;
}

.img-content{
  overflow: hidden;
}
.card img{
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  max-height: 18rem;
  transition: transform .2s; /* Animation */
}
.card img:hover{
  transform: scale(1.2);
}
/*buttons of the cards*/
.cardbutton {
  background-color: #75E6DA;
  border: none;
  color: #05445E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
  opacity: 0.8;
}
.view{
  width: 95%;
  margin-bottom: 0;
}
.btn1{
  width: 46%;
  margin-bottom: 1rem;
}

.cancel{
  background-color: #f44336;
}

.view2{
  margin-bottom: 1rem;
}

.cardbutton:hover{
  opacity: 1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .cardcolumn{
    width: 50%;
    padding: 2px;
  }

  .card img{
    width: 100%;
    height: 6rem;
  }
  .card {
    padding: 2px;
    text-align: center;
    height: auto;
    margin: 2px;
    font-size: 14px;
  }
  .card-content h3{
    font-size: small;
  }

  .card-content p{
    font-size: smaller;
  }
  .div{
    font-size: 8px;
    width: 100%;
  }
  .cardbutton{
    font-size: 8px;
    padding: 4px;
    margin: 0;
  }
  .view{
    width: 100%;
  }
  .view2{
    margin-bottom: 1rem;
  }
  .btn1{
    width: 50%;
  }
}
/*---------------------------------------------------------------------------*/
/*delete box*/
/* Float cancel and delete buttons and add an equal width */
.cancelbtn_dele, .deletebtn_dele {
  float: left;
  width: 50%;
  border-style: none;
  padding: 1rem 0.2rem;
  opacity: 0.9;
  cursor: pointer;
}
.cancelbtn_dele:hover, .deletebtn_dele:hover{
  opacity: 1;
}
/* Add a color to the cancel button */
.cancelbtn_dele {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn_dele {
  background-color: #f44336;
  text-align: center;
}

/* Add padding and center-align text to the container */
.container_dele {
  padding: 16px;
  text-align: center;
}

.d-topic,.d-detail{
  padding: 1rem;
}

/* The Modal (background) */
.modal_dele {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content_dele {
  background-color: #fefefe;
  margin: 1rem auto 1rem auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  padding: 1rem;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close_dele {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close_dele:hover,
.close_dele:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix_dele::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn_dele, .deletebtn_dele {
     width: 100%;
  }
  .modal-content_dele{
    width: 80%;
  }
}
/*---------------------------------------------------------------------------*/
/*products slideshow*/
.slider-frame{
  overflow: hidden;
  height: 200rem;
  width: 80%;
  margin-top: 2rem;
}

@-webkit-keyframes slide_animations{
  0%{left: 0px;}
  10%{left: 0px;}
  20%{left: 1200px;}
  30%{left: 12000px;}
  40%{left: 2400px;}
  50%{left: 2400px;}
  60%{left: 1200px;}
  70%{left: 1200px;}
  80%{left: 0px;}
  90%{left: 0px;}
  100%{left: 0px;}
}

.slide-images{
  width: 3600px;
  height: 800px;
  position: relative;
  -webkit-animation-name: slide_animations;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container{
  height: 20rem;
  width: 100%;
  position: relative;
  float: left;
}
 