*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    margin:0;
    background: url("../img/Ayur_1.jpg");
    background-size: cover;
    font-family:sans-serif;
}

h2{
    font-family:'Raleway';
    font-size: 40px;
    color:#14af14;
    text-align:center;
    margin-top:3px;
 
}

.Signup-form{
    width:850px;
    background:#ffff; /*linear-gradient(rgba(73, 72, 72, 0.8), rgba(73, 72, 72,0.8));*/
    top:60%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-60%);
    border-radius: 6%;
    position:relative;top:500px;
    
    
}
.Signup-form .main{
    position:relative;top:-100px;
    display:flex;
    margin:05px 0;
}
.container{
    max-width:800px;
    margin:0 auto;
    position:relative;top:100px;
}


input, select{
    margin-bottom:15px;
    font-stretch:16px;
    text-align:left;
    padding:14px 20px;
    width:100%;
    background:#b6b4b4;
    border-radius:50px;

}
.Signup-form input:focus{
    background:#979090;
}

.submitbtn{
    font-size:18px;
    color:#ffff;
    width:50%;
    background:#228B22;
    border-radius:50px;
    padding:14px 15px;
    font-weight:500;
    transition:0.3s ease;
    position:relative;left:180px;
}
.submitbtn:hover{
    background:#40d840
}

.alertwarning{
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    background-color: #f44336;
    transition: 0.3s;
    width:25%;
  }
.backbtn{
    background-color: #df1c0e;
    color: white;
    font-size: 18px;
    position:relative;right:-620px;top:-750px;
    padding:10px 12px;
    width:50px;
    border-radius: 20%;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  a:visited{
    color:rgb(21, 59, 129);
    text-decoration: none;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    input, select{
      width: 100%;
      margin-top: 1%;
      float:left
    }
  }
  @media screen and (max-width: 600px) {
    .Signup-form{
      width: 100%;
      margin-top: 1%;
      height:auto;

    }
  }
  @media screen and (max-width: 600px) {
    body{
      width: 100%;
      height:200%;
      margin-top: 1%;
      float:left
    }
  }
  @media screen and (max-width: 1000px) {
    .btn{
      width: 100%;
      margin-top: 1%;
      position:relative;right:150px;
    }
  }
  @media screen and (max-width: 600px) {
    .backbtn{
      width: 10%;
      margin-top: 1%;
      position:relative;right:-370px;top:-790px;
    }
  }









