*{
    box-sizing: border-box;
    background-size: cover;
}
body{
    background: url("../img/7.jpg");
    background-size:100%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
}

h2{
    font-size: 40px;
    color:#05445E;
    text-align:center;
 
}
.Signup-form{
    background-color:#D4F1F4;
    width:850px;
    margin-left: 18%;
    justify-content: center;
    align-items:center;
    border-radius: 6%;
}
.container{
    max-width:800px;
    margin:auto;
}
input, select{
    margin-bottom:15px;
    font-stretch:16px;
    text-align:left;
    padding:14px 20px;
    width:100%;
    background:#05435e6b;
    border: 2px solid #05445E;
    border-radius:50px;

}
.Signup-form input:focus,select:focus{
  background:#D4F1F4;
  border:solid rgb(156, 156, 156);
}

.submitbtn{
    font-size:18px;
    font-weight: bold;
    color:#05445E;
    width:100%;
    background-color:#75E6DA;
    border-radius:50px;
    padding:14px 15px;
    transition:0.3s ease;
}
.submitbtn:hover{
  background-color: white;
  transition:0.5s ease;
}

.alertwarning{
  padding: 20px;
  background-color:#05445E;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  float: right;
  font-size: 22px;
  line-height: 10px;
  cursor: pointer;
  background-color: #05445E;
  transition: 0.3s;
  width:25%;
}
.backbtn{
    color: #05445E;
    background-color: #D4F1F4;
    font-size: 18px;

    padding:10px 12px;
    width:50px;
    border-radius: 20%;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  a:visited{
    color:rgb(21, 59, 129);
    text-decoration: none;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    input, select{
      width: 100%;
      margin-top: 1%;
      float:left
    }
  }
  @media screen and (max-width: 600px) {
    .Signup-form{
      width: 100%;
      height:auto;
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 600px) {
    body{
      width: 100%;
      height:auto;
      padding:1%;
    }
  }
  @media screen and (max-width: 600px) {
    .submitbtn{
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .backbtn{
      width: -50%;
      margin-top: 1%;

    }
  }









