body{
    margin:0;
    padding:0;
    background: url("../img/Ayur_1.jpg");
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}
h2{
    font-family:'Raleway';
    font-size: 40px;
    color:#228B22;
    text-align:center;
    margin-top:3px;
 
}
.Signup-form{
    width:600px;
    height:1200px;
    background:#ffff;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-40%);
    box-sizing:border-box;
    padding:30px 30px;
}
.Signup-form .main{
    position:relative;
    display:flex;
    margin:05px 0;
}

.content{
    flex-basis:100%;
  
    background:#ffff;
    box-shadow:2px 9px 49px -17p;
    border-top-left-radius:20px;
    border-bottom-left-radius:8px;
}
.btn,
button,
input{
    border-radius:50px;
}

input[type=checkbox] {
    position:relative;
    left:160px;
}
.btn:hover,
button:hover{
    transition:0.5s ease;
}
a{
    text-decoration:none;
}
.Signup-form form{
    margin:30px 0;
}
.Signup-form input{
    outline:none;
    margin-bottom:15px;
    font-stretch:16px;
    color:#0000;
    text-align:left;
    padding:14px 20px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    background:#C4C4C4;
    transition:0.3s ease;
}
.Signup-form input:focus{
    background:#979090;
    border:solid #C4C4C4;
}
.Signup-form label{
    margin:5px 10px 5px 0;
}
.Signup-form button{
    font-size:18px;
    color:#ffff;
    width:100%;
    background:#228B22;
    border:none;
    padding:14px 15px;
    font-weight:500;
    transition:0.3s ease;
}
.Signup-form button:hover{
    background:#40d840
}





